

*{
    box-sizing: border-box;
}

.App{
    display: flex;
    justify-content: center;
}

.preference{
    display: flex;
}

.label{
    margin-left: auto;
    float: left;
    color: rgb(226, 174, 79);
    font-weight: bold;
    align-items: left;
    justify-content: left;
}

.preference input{
    border-radius: 10px;
    border-color: black;
    border: 1px solid black;
}

.preference input:hover{
    border-color: rgb(89, 89, 240);
}

.profile{
    margin-left: 20px;
    display: block;
}

.icon{
    color: black;
    margin-right: 20px;
    size: 30px;
}