

*{
    box-sizing: border-box;
}

.App{
    display: flex;
    justify-content: center;
}

.preference{
    display: flex;
}

.label{
    margin-left: auto;
    float: left;
    color: rgb(226, 174, 79);
    font-weight: bold;
    align-items: left;
    justify-content: left;
}

.preference input{
    border-radius: 10px;
    border-color: black;
    border: 1px solid black;
}

.preference input:hover{
    border-color: rgb(89, 89, 240);
}

.profile{
    margin-left: 20px;
    display: block;
}

.d_icon{
    color: black;
    margin-right: 20px;
    size: 30px;
}

.detail{
    margin-left: 38px;
    font-weight: lighter;
}

.detail:hover{
    color: darkcyan;
    border-left: 2px solid darkcyan;
}

.sidebar{
    background: rgb(2, 2, 91);
    height: 250vh;
    color: white;;
}

.top_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 15px 10px;
}
.logo{
    font-size: 25px;
    line-height: 0;
}

.search{
    display:flex;
    height: 30px;
    padding: 10px;
    align-items: center;
    margin: 10px 0;

}
.search input{
    border: none;
    width: 160px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background: #fff;
}

.link{
    display: flex;
    color:white;
    gap:10px;
    padding: 5px 10px;
}

.link_text{
    text-decoration: none;
    font-size: 17px;
}

.icon{
    color: white;
    font-size: 30px;
}

.link:hover{
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45, 51, 89);
}

.main-container{
    display: flex;
}

.menu{
    display: flex;
    color:white;
    gap:10px;
    padding: 5px 10px;
    justify-content: space-between;
    direction: column;
    border-right: 4px solid cubic-bezier(0.6, -0.28, 0.735, 0.045);;
}

.menu_item{
    display: flex;
    gap:10px;
}
.menu_container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

main{
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.head{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.user{
    display: flex;
    justify-content: space-between;
}


.head h3{
    margin-right: 500px;
}

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }

.create{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card_container{
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: gray;
}

.card{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    width: 120px;
    height: 100px;
    background-color: white;
}