

*{
    box-sizing: border-box;
}

.App{
    display: flex;
    justify-content: center;
}

.preference{
    display: flex;
}

.label{
    margin-left: auto;
    float: left;
    color: rgb(226, 174, 79);
    font-weight: bold;
    align-items: left;
    justify-content: left;
}

.preference input{
    border-radius: 10px;
    border-color: black;
    border: 1px solid black;
}

.preference input:hover{
    border-color: rgb(89, 89, 240);
}

.profile{
    margin-left: 20px;
    display: block;
}

.d_icon{
    color: black;
    margin-right: 20px;
    size: 30px;
}

.detail{
    margin-left: 38px;
    font-weight: lighter;
}

.detail:hover{
    color: darkcyan;
    border-left: 2px solid darkcyan;
}

.sidebar{
    background: rgb(2, 2, 91);
    height: 150vh;
    color: white;;
}

.top_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 15px 10px;
}
.logo{
    font-size: 18px;
    line-height: 0;
}

.search{
    display:flex;
    height: 30px;
    padding: 10px;
    align-items: center;
    margin: 10px 0;

}
.search input{
    border: none;
    width: 160px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background: #fff;
}

.link{
    display: flex;
    color:white;
    gap:10px;
    padding: 5px 10px;
}

.link_text{
    text-decoration: none;
    font-size: 17px;
}

.icon{
    color: white;
    font-size: 30px;
}

.link:hover{
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45, 51, 89);
}

.main-container{
    display: flex;
}

.menu{
    display: flex;
    color:white;
    gap:10px;
    padding: 5px 10px;
    justify-content: space-between;
}

.menu_item{
    display: flex;
    gap:10px;
}